body {
    background-color: darkslateblue;
}

h1 {
    color: white;
    text-align: center;
  }
  
p {
    color: white;
    font-family: verdana;
    text-align: center;
    font-size: 20px;
  }
#p2 {
  font-family: monospace;
  width:50%;
  text-align: center;
  margin-left:25%;
  background-color: darkOrchid
}
#input {
  width:10%;
  margin-left:45%;
}
button {
  width:4%;
  margin-left:48%;
}
form {
    color: white;
    text-align: center;
    font-size: 20px;
}
b {
  font-weight: bolder;
}