body {
    background-color: darkslateblue;
}

h1 {
    color: white;
    text-align: center;
  }
  
p {
    color: white;
    font-family: verdana;
    text-align: center;
    font-size: 20px;
  }
#p2 {
  font-family: monospace;
  width:50%;
  text-align: center;
  margin-left:25%;
  background-color: darkOrchid
}
button {
  width:4%;
  margin-left:48%;
}
form {
    color: white;
    text-align: center;
    font-size: 20px;
}
b {
  font-weight: bolder;
}
table{
    color: white;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
th, td {
    width:10%;
    overflow: hidden;
}
th:nth-child(2){
    width:60%;
}
tbody tr:nth-child(even){
    background-color: darkorchid
}
tbody tr:nth-child(odd){
    background-color: blueviolet
}
